header {
	background-color: var(--primary-color);
	color: var(--text-white);
	padding: var(--spacing-md) var(--spacing-xl);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-novis {
	height: 3rem;
}

nav {
	display: flex;
	gap: var(--spacing-xl);
}

nav a {
	color: var(--text-white);
	text-decoration: none;
}
